*{
    font-family:'PT Serif', serif;
}
nav{
    background-image: linear-gradient(#383471,#171536);
    
}
#s1{
    border-radius: 50%;
}
p{
    font-size: 10px;
}
.box{
    border-radius:10%;
    background-image: linear-gradient(#2B6AAF,#163558);
}
.line{
    border:none;
    height:1px;
    background-color:#669ad3;
}
.btn{
    color: #2B6AAF;
    background-color: white;
    border-radius: 20px;
    width: 100px;
}
.pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}