
@{
    ViewData["Title"] = "ForAdd";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<form action="Add" method="post" class="register-form" enctype="multipart/form-data">
    <h1>Added successfully</h1>
    </form>

