<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light blue-grey lighten-5 mb-4 p-0">

        <!-- Navbar brand -->
        <a class="navbar-brand text-white" href="#"><img id="s1" class="lpic ml-5" src="~/image/logo.jpg"><br> <h6 class="ml-5">OZONE</h6></a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Links -->
            <!-- Links -->
            <!-- Search form -->
            <!-- Search form -->
            <form action="/Home/Search" method="get" class="form-inline ml-auto mr-5">

                <input type="text" placeholder="Search" name="searchString">
                <button type="submit"><i ><img height="25" src="~/image/search.jpg"></i></button>

                @*<input class="form-control" type="text" placeholder="Search" aria-label="Search">*@
                @*<a> <img height="30" src="~/images/search.jpg"></a>*@

            </form>
        </div>
        <!-- Collapsible content -->
    </nav>

    @RenderBody()

</body>
</html>
